/* ทำให้ทุกอย่างอยู่กลางจอ */
html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #b8dcff, #ffffff);
}

.container.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-box {
    background: white;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.login-box input {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.mode-select {
    margin: 15px 0;
}

.mode-select select {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.button-grid {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #d0e7ff;
}

.start-btn {
    background-color: #2b82f6;
    color: white;
}

.submit-btn {
    background-color: #4caf50;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.input-box {
    font-size: 20px;
    margin-top: 10px;
    width: 70%;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #aaa;
}
